.search {
    margin: -4% 0% 0% 60%;
}


.card {
    margin: 10px 0px 0px 10px;
    border-bottom-width: 2px;
}

.user {
    margin-top: -2px;
    margin-left: 15px;
}

.menu {
    position: relative;
    margin-top: 5%;
}

.list-group-item img {
    border-radius: 50%;
}

.btn {
    position: absolute;
    padding-left: 80%;
}

.members {
    position: relative;
    padding-left: 10%;
}

